/Anime Archive Handler/ffmpeg.exe
/Anime Archive Handler/ffprobe.exe
Anime Archive Handler/obj/rider.project.restore.info
Anime Archive Handler/obj/rider.project.model.nuget.info
Anime Archive Handler/obj/project.packagespec.json
Anime Archive Handler/obj/project.nuget.cache
Anime Archive Handler/obj/project.assets.json
Anime Archive Handler/obj/Debug/net8.0/apphost
Anime Archive Handler/obj/Debug/net8.0/Anime Archive Handler.GeneratedMSBuildEditorConfig.editorconfig
Anime Archive Handler/obj/Debug/net8.0/Anime Archive Handler.csproj.AssemblyReference.cache
Anime Archive Handler/obj/Debug/net8.0/Anime Archive Handler.assets.cache
Anime Archive Handler/obj/Debug/.DS_Store
Anime Archive Handler/obj/Anime Archive Handler.csproj.nuget.g.targets
Anime Archive Handler/obj/Anime Archive Handler.csproj.nuget.g.props
Anime Archive Handler/obj/Anime Archive Handler.csproj.nuget.dgspec.json
Anime Archive Handler/obj/.DS_Store
Anime Archive Handler/.DS_Store
Anime Archieve Handler.sln.DotSettings.user
.idea/.idea.Anime Archieve Handler/.idea/.name
.DS_Store
Anime Archive Handler/obj/rider.project.restore.info
Anime Archive Handler/obj/rider.project.model.nuget.info
Anime Archive Handler/obj/project.packagespec.json
Anime Archive Handler/obj/project.nuget.cache
Anime Archive Handler/obj/project.assets.json
Anime Archive Handler/obj/Debug/net8.0/Anime Archive Handler.GeneratedMSBuildEditorConfig.editorconfig
Anime Archive Handler/obj/Debug/net8.0/Anime Archive Handler.csproj.AssemblyReference.cache
Anime Archive Handler/obj/Debug/net8.0/Anime Archive Handler.assets.cache
Anime Archive Handler/obj/Anime Archive Handler.csproj.nuget.g.targets
Anime Archive Handler/obj/Anime Archive Handler.csproj.nuget.g.props
Anime Archive Handler/obj/Anime Archive Handler.csproj.nuget.dgspec.json
Anime Archieve Handler.sln.DotSettings.user
Anime Archieve Handler.sln.DotSettings.user
Anime Archive Handler/obj/Anime Archive Handler.csproj.nuget.dgspec.json
Anime Archive Handler/obj/Anime Archive Handler.csproj.nuget.g.props
Anime Archive Handler/obj/Anime Archive Handler.csproj.nuget.g.targets
Anime Archive Handler/obj/Debug/net8.0/Anime Archive Handler.assets.cache
Anime Archive Handler/obj/Debug/net8.0/Anime Archive Handler.csproj.AssemblyReference.cache
Anime Archive Handler/obj/Debug/net8.0/Anime Archive Handler.GeneratedMSBuildEditorConfig.editorconfig
Anime Archive Handler/obj/project.assets.json
Anime Archive Handler/obj/project.nuget.cache
Anime Archive Handler/obj/project.packagespec.json
Anime Archive Handler/obj/rider.project.model.nuget.info
Anime Archive Handler/obj/rider.project.restore.info
Anime Archive Handler/bin/Release/net8.0/External Dependencies/ffmpeg.exe
Anime Archive Handler/bin/Release/net8.0/External Dependencies/ffprobe.exe
*.csv
